@import '../index.scss';

.todo {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height);
  grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
  &__header {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  &__sidebar {
    grid-row: 2/-1;
    grid-column: 1 / span 1;
  }
  &__content {
    grid-row: 2/-1;
    grid-column: 2/-1;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  // background-color: wheat;
  height: calc(100vh - $header-height);
}

// SCSS : mixins and extends concept

// BLOCK
.accordion {
  // ELEMENT
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;

    // MODIFIER
    &__icon {
      cursor: pointer;
      transition: 1s;
    }
    &__active {
      transform: rotate(-90deg);
    }

    &__text {
      font-weight: inherit;
    }
  }
}

.todo__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
