@import '../index.scss';

// Block
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  // Element
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;

    &:hover {
      background-color: $grey-light;
    }

    // Modifier
    &__text {
      font-weight: inherit;
    }
  }
}

.active {
  font-weight: 800;
  background-color: $grey-light;
}
