@import './index.scss';

$header-height: 60px;
$sidebar-width: 300px;

.todo {
    display: grid;
    grid-template-rows: $header-height calc(100vh - $header-height);
    grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
    &__header {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    &__sidebar {
        grid-row: 2/-1;
        grid-column: 1 / span 1;
    }
    &__content {
        grid-row: 2/-1;
        grid-column: 2/-1;
    }
}

// HEADER

.header {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: $primary;
    height: $header-height;
    padding: 5px 20px;

    &__logo {
        font-size: 2.4rem;
        color: $white;
        display: flex;
    }

    &__text {
        flex: 1;
        color: $white;

        & > h1 {
            font-size: 2.4rem;
        }
    }

    &__search {
        min-width: 300px;
    }
}
