// Typography
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@400;600;700&display=swap');

// CSS-Variable
$primary-light: #e26b61;
$primary: #dc4b3e;
$grey-light: #eaeaea;
$grey: #a4a1a1;
$grey-dark: #808080;

$grey-50: #f5f5f5;
$grey-100: #e9e8e9;
$grey-200: #d0ced0;
$grey-300: #b7b4b7;
$grey-400: #9e9a9e;
$grey-500: #858085;
$grey-600: #6b676b;
$grey-700: #514e51;
$grey-800: #373537;
$grey-900: #1d1c1d;
$grey-950: #100f10;

$white: #fff;
$header-height: 58px;
$sidebar-width: 375px;
$todo-content-padding: 15px;
$circle: 20px;
$font-base: 1.6rem;
$font-xl: 20px;

$text-sx: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-3xl: 3rem;
$text-4xl: 3.6rem;
$text-5xl: 4rem;

// GLOBAL RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px; /*equal font-size : 10px*/
}

body {
  box-sizing: border-box;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}
